
body {
	font-family: "Open Sans", serif;
	margin: 0px;
}

main {
	display: flex;
	flex: 1;
}

h1 {
	color: #DD1972;
	font-weight: 300;
	font-size: 311%;
	margin: 0px;
	width: 100%;
}

h2,
h4,
h5 {
	color: #6E6E6E;
}

h4 {
	width: 100%;
	margin: 0px 0px 5px 2%;
}

h5 {
	font-size: 100%;
	margin: 0px;
	margin-top: 4px;
}

article {
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	padding: 5px;
}

input {
	border: 1px solid #EDEDED;
	font-size: 1em;
	height: 29px;
	width: 100%;
}

section {
	margin: 0px;
	width: 50%;
}

label {
	color: #6E6E6E;
	display: block;
	font-size: 13px;
}

form {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

p {
	color: #6E6E6E;
	height: 30px;
	margin-bottom: 10px; 
	margin: 0px;
}

/* Header */

header {
	align-content: center;
	align-items: center;
	background-color: #404041;
	display: flex;
	flex-wrap: wrap;
	height: 130px;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.header-line1,
.header-line2 {
	border-bottom: 1px solid #D0D2D3;
	width: 78px;
}

.header-line1 {
	margin-right: 1%;
}

.header-line2 {
	margin-left: 1%;
}

.span-heading {
	font-weight: 700;
}

.ultimate-heading {
	color: #FFFFFF;
	font-weight: 300;
	width: auto;
}

/* Section 1 */

.section-left {
	background-color: #F7F7F7;
	border-right: 1px solid darkgray;
}

/* Article 1 */

.set-range-heading {
	margin-left: 1%;
	width: 100%;
}

.ranges {
	display: inline-block;
	margin-right: 5px;
	width: 33%;
}

.update-button {
	background-color: #D0D2D3;
	width: 25%;
}

/* Article 2 */

.current-range {
	width: 100%;
}

.challenger-name-input {
	display: inline-block;
	margin-bottom: 25px;
	margin-right: 5px;
	width: 65%;
}

.challenger-guess-input{
	display: inline-block;
	margin-bottom: 25px; 
	width: 25%;
}

.article-2-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#reset-game-button,
#clear-game-button {
	background-color: #D0D2D3;
}

/* Article 3 */

.latest-score-heading {
	margin-bottom: 10px;
	width: 100%;
}

.challengers-latest-guess {
	display: inline-block;
	text-align: center;
	width: 49%;
}

#latest-guess-border {
	border-right: 1px solid #D0D2D3;
}

/* Section 2 */

.section-right {
	background-color: #D0D2D3;
	overflow: scroll;
}

.result-card {
	height: 210px;
}

.result-card-vs {
	border-bottom: 1px solid #d0d2d3;
	display: flex;
	margin: 0px 3%;
	padding: 0px 8%;
	width: 100%;
}

.result-card-p-tag {
	margin: 0px auto;
}

#winner-name {
	font-weight: 700;
	height: 30px;
	margin: 0px 0px;
	padding-top: 15px;
	text-align: center;
	width: 100%;
}

#right-card-name2,
#right-card-name1 {
	width: 10%;
}

.right-card-winner {
	border-bottom: 1px solid #d0d2d3;
	font-weight: 300;
	height: 30px;
	margin: 0px 3%;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
}

.result-card-stats {
	display: flex;
	font-size: 15px;
	height: 5px;
	justify-content: space-between;
	margin: 0px 3%;
	width: 100%;
}

.delete-card {
	border-radius: 50%;
	font-size: 1em;
	height: 29px;
	width: 29px;
}

.right-card-mins {
	margin-right: 8%;
}

/* Buttons */

button {
	background-color: #6E6E6E;
	border-radius: 150px;
	color: #FFFFFF;
	font-size: 10px;
	height: 28px;
	width: 32%;
}

button:hover {
	background-color: #DD1972;
}

/* Media Query */

@media only screen and (max-width: 750px) {

	header,
	h5 {
		width: 100%;
	}

	h1 {
		font-size: 35px;
	}

	h2 {
		margin-top: 15px;
	}

	h4 {
		margin: 0 0 5px 0;
	}

	.set-range-heading {
		margin-left: 0;
	}
	
	.header-line1 {
		margin-right: 1%;
		width: 10%;
	}
	
	.header-line2 {
		margin-left: 1%;
		width: 10%;
	}

	main {
		display: flex;
		flex-wrap: wrap;
	}

	form {
		width: 100%;
   		justify-content: flex-start;
	}

	input {
		font-size: 1em;
		height: 25px;
		width: 100%;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	article {
		width: 100%;
	}

	p {
		height: 32px;
		margin: 0px 5px 10px 5px;
		width: 100%;
	}

	.ranges {
		width: 95%;
	}

	.update-button {
		height: 25px;
	 	width: 70px;
	}

	.challenger-name-input,
	.challenger-guess-input {
		width: 95%;
	}

	.article-2-buttons {
		display: block;
		width: 100%;
	}

	button {
		font-size: 10px;
		margin-top: 5px;
		width: 100%;
	}

	#clear-game-button,
	#reset-game-button {
		width: 100%;
	}

	.result-card {
		height: 250px;
	}

	.challengers-latest-guess {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		text-align: center;
		width: 75%;
	}

	#latest-guess-border {
		border-right: none;
}

	#p1-hint {
		border-bottom: 1px solid #D0D2D3;
	}

	.result-card-vs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 10%;
		text-align: center;
		width: 100%;
	}

	.result-card-p-tag {
		height: 10px;
		width: 5%;
	}
	
}